header{
	background-color: #3e98f0;
	color: #fff;
	text-align: center;
	padding: 10px;
}
.header-logo{
	height: 40px;
	background: url(http://m.baidu.com/static/news/webapp/webappandroid/img/bg-news-logo_344ce44.png) no-repeat center top;
	background-size:100px
}
header .col-xs-4,header .col-xs-2{
	padding-right: 5px;
	padding-left: 5px;
}
a{
	text-decoration: none;
	color: #fff;
}
a:hover{
	color: #fff;
	text-decoration: none;
}
.header-logo span{
	height: 30px;
	width: 30px;
	margin-top: 5px;
}
.header-logo span:first-child{
	float: left;
	background: url(../../images/bg.png) no-repeat -5px 0px;
    background-size: 40px;
    margin-right: 5px;
}
.header-logo span:nth-child(2){
	float: left;
	background: url(../../images/bg.png) no-repeat  -5px -468px;
    background-size: 40px;
}
.header-logo span:nth-child(3){
	float: right;
	background: url(../../images/bg.png) no-repeat -5px -109px;
	background-size: 40px;
}
.header-logo span:last-child{
	float: right;
	background: url(../../images/bg.png) no-repeat  -5px -165px;
	background-size: 40px;
}
.divider{
	margin: 5px -10px;
}
#news-container .row{
	position: relative;
	padding: 10px;
	border-bottom: 1px solid #eee;
}
#news-container .col-xs-7{
	height: 100px;
	overflow: hidden;
}
.col-xs-5{
	text-align: center;
}
.newsTitle{
	font-weight: bold;
}
.newsContent{
	height: 40px;
}
.news-btn span{
	display: inline-block;
	border-bottom: 1px solid #3e98f0;
}
.news-btn .underline{
	border-bottom: 1px solid #fff;
}
.newsTime{
	position: absolute;
    top: 80px;
    left: 7px;
    width: 104px;
}