<!DOCTYPE html>
<html>

<head>
    <title>使用指南</title>
    <meta charset="utf-8">
    <style type="text/css">
    a {
        color: #030303;
    }
    </style>
</head>

<body>
    <p>
        <a href="/backstage">
		后台
	</a>
    </p>
    <p>
        <a href="/newsmobile/推荐">
		新闻手机主页
	</a>
    </p>
</body>

</html>
