<% include header %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/newsmobile/style.css">
</head>

<body>
    <header class="container">
    <% include newsmobileHeader%>
    </header>
    <div id="news-container" class="container">
    <% include newsmobile_news-container%>
    </div>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../javascripts/bootstrap/bootstrap.min.js"></script>
</body>

</html>
